.battleship-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-bottom: 20px;
}

.board-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ship-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ship-selection-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ship-selection-item.dragging {
  background-color: lightgray;
}

.orientation-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.orientation-container label {
  margin-right: 10px;
}

.game-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-controls button {
  margin: 0 10px;
}

.computer-ships {
  text-align: center;
}
